#show-contact {
  display: none;
}

#show-place {
  display: none;
}

#show-tasks {
  display: none;
}

#tickets-output {
  display: none;
}

#tickets {
  padding: 15px;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
