#show-contact {
  display: none;
}

#show-place {
  display: none;
}

/*.show-todo-list {
  display: none;
}*/

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
